@font-face {
  font-family: GmarketSansBold;
  src: url("./fonts/GmarketSansBold.otf");
}

@font-face {
  font-family: GmarketSansMedium;
  src: url("./fonts/GmarketSansMedium.otf");
}

@font-face {
  font-family: GmarketSansLight;
  src: url("./fonts/GmarketSansLight.otf");
}

@font-face {
  font-family: GmarketSansTTFBold;
  src: url("./fonts//GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: GmarketSansTTFLight;
  src: url("./fonts/GmarketSansTTFLight.ttf");
}

@font-face {
  font-family: GmarketSansTTFMedium;
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
