* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GmarketSansBold;
  src: url("./fonts/GmarketSansBold.otf");
}

@font-face {
  font-family: GmarketSansMedium;
  src: url("./fonts/GmarketSansMedium.otf");
}

@font-face {
  font-family: GmarketSansLight;
  src: url("./fonts/GmarketSansLight.otf");
}

@font-face {
  font-family: GmarketSansTTFBold;
  src: url("./fonts//GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: GmarketSansTTFLight;
  src: url("./fonts/GmarketSansTTFLight.ttf");
}

@font-face {
  font-family: GmarketSansTTFMedium;
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}